{% extends 'base.html' %}
{% import '_macro.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}ITEC - Post{% endblock %}
{% block page_content %}
{% include '_posts.html' %}
<p> comments as below:</p>
{% include '_comments.html' %}
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% if pagination %}
<div class="pagination">
   {{ macro.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}